body {
	background-image: url("https://i.ytimg.com/vi/xRsBPkbldXQ/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
	display: block;
}
iframe {
	display: block;
	margin-left: 475px;

}
h3 {
	font-size: 35px;
	text-align: center;
	text-decoration: underline;
}
 ul > li {
	font-size: 30px;
	list-style: none;
	text-align: center;
}
#Shark {
	color: white;
}
#Cuddle {
	color: orange;
}
#Eagle {
	color: red;
}
a {
	margin: auto;
	display: block;
	width: 30%;
	font-size:30px
}
a:hover {
	color: blue;
}
a > img {
	margin: auto;
	display: block;
	width: 50%;
	width: 500px;
	height: 300px;
}
.Open {
	color:blue; 
	font-size:30px;
	text-align: center;
	background-color: black;
	padding: 15px;
	font-family: sans-serif;
}
.Closing {
	background-color: black;
	color: white;
	font-size: 20px;
	text-shadow: 0 0 3px orange;
	text-align: center;
	margin-top: 30px;
	padding: 20px;
}
table {
	width: 100%;
	height: auto;
	background: transparent;
	text-align: center;
}
footer {
	color: white;
	text-align: right;
}
@media screen and (max-width: 300px) {
    iframe {
        width: 30%;
        height: 50%;
    }
}