body {
	background-image: url("https://i.ytimg.com/vi/xRsBPkbldXQ/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
	display: block;
}
iframe {
	display: block;
	margin-left: 475px;

}
h3 {
	font-size: 35px;
	text-align: center;
}
 ul > li {
	font-size: 30px;
	list-style: none;
	text-align: center;
}
.Open {
	color:blue; 
	font-size:30px;
	text-align: center;
}
.Closing {
	color: blue;
	font-size: 16px;
}